# Локальные настройки
/meeting_website/local_settings.py

# База данных
db.sqlite3

# Виртуальное окружение
venv/

# Миграции
/users/migrations/*
!/users/migrations/__init__.py


# Медиа файлы
/media/avatar/
/media/original/

__pycache__/
*.py[cod]
*$py.class
/static/*
/static_dev/*
